/* Global */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to bottom right, #ffe6f7, #e3f2ff);
    color: #333;
}

/* Navbar */
header {
    background: #111;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: #ff8ed6;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 42px;
    color:#d63384 ;
    font-weight: 800;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
    color: #444;
}

/* Add a soft card look */
section {
    background: rgba(255, 255, 255, 0.6);
    margin: 40px auto;
    padding: 40px;
    width: 80%;
    max-width: 900px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 25px rgba(0,0,0,0.1);
}
/* ABOUT PAGE */
.about-section {
    padding: 60px 10%;
    text-align: center;
}

.about-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.about-text {
    max-width: 600px;
    text-align: left;
}

.about-text h2 {
    font-size: 28px;
    color: #d63384;
}

.about-text h3 {
    margin-top: 20px;
    color: #333;
}

.about-text ul {
    margin-left: 20px;
    line-height: 1.7;
}
